<div class="login">
    <div class="login-form-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" formControlName="email" autocomplete="off"/>
                <div *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="error-message">
                    <div *ngIf="email?.errors?.['required']">Email is required.</div>
                    <div *ngIf="email?.errors?.['email']">Please enter a valid email address.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" formControlName="password" autocomplete="off"/>
                <div *ngIf="password?.invalid && (password?.touched || password?.dirty)" class="error-message">
                    <div *ngIf="password?.errors?.['required']">Password is required</div>
                </div>
            </div>
            <button type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
    </div>
</div>
